.friends_block {
    width: 50%;
}

.friends-container {
    border-radius: 10px;
    background-color: white;
}

.friends-header {
    list-style: none;
    display: flex;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px
}

.friends-header li {
    margin-left: 20px;
}

.friends-header li:hover {
    color: #5477ff;
}

.messages_list {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
}

.message_date{
    font-size: 12px;
    color: #42B72A;
}

.black {
    color: black
}

.user {
    border-radius: 0;
}

.user img {
    border-radius: 50%;
}

.active {
    color: #5477ff;
}

.red {
    color: orangered;
}
