@media (max-width: 1500px) {
    .login-main,
    .signup-main {
        padding: 18px 100px;
    }

    .login-main .form-container form,
    .signup-main .form-container form {
        margin-right: 0;
    }

    .login-main .container,
    .signup-main .container {
        margin-top: 100px;
    }
}

@media (max-width: 1350px) {
    .menu {
        width: 20%;
    }

    .profile-content {
        width: 65%;
    }
}

@media (max-width: 1150px) {
    .header {
        padding: 11px 100px;
    }

    .chat-container,
    .community-container,
    .content-container .friends_block,
    .musics-container,
    .profile-content {
        width: 70%;
    }

    .menu {
        width: 20%;
    }

    .login-main .container,
    .signup-main .container {
        flex-direction: column;
        margin-top: 0;
    }

    .form-container {
        margin-top: 20px;
    }

    .header-links {
        width: 30%;
    }

    .logo-container .site-name {
        font-size: 40px;
    }

    .header-options-main {
        width: 12% !important;
    }
}

@media (max-width: 850px) {
    main {
        padding: 5px !important;
    }

    .header {
        padding: 11px 50px;
    }

    .menu {
        width: 30%;
    }

    .friends-menu {
        width: 20%;
    }

    .send-form {
        width: 75%;
    }

    .content-container {
        justify-content: space-between;
    }

    .message_data p {
        font-size: 15px;
    }

    .messages {
        width: 70%;
    }
}

@media (max-width: 700px) {
    .burger {
        display: block;
    }

    .menu,
    .header-links {
        display: none;
    }

    .chat-container,
    .community-container,
    .content-container .friends_block,
    .messages,
    .musics-container,
    .profile-content {
        width: 100%;
    }

    .friends-header li {
        margin-left: 10px;
        font-size: small;
    }

    .login-main .form-container,
    .signup-main .form-container,
    .login-main .form-container form,
    .signup-main .form-container form {
        width: 90%;
    }

    .logo-header {
        height: 50px;
    }

    .logo-container .site-name {
        font-size: 30px;
    }

    .header-links {
        width: 45%;
    }

    .play {
        width: 10%;
    }
}

@media (max-width: 512px) {
    .signup-main .form .form-section,
    .extra-fields-container {
        display: block;
    }

    .signup-main .form .form-section input,
    #birth-date,
    .profile-info-container .profile-info {
        width: 95%;
    }

    .profile-info-container {
        display: block;
    }

    .profile-info-container .avatar {
        width: 75%;
        margin: auto auto 20px;
    }

    .user-posts-container,
    .extra-fields-container div,
    .extra-fields-container div input{
        width: 100%;
    }

    .second-extra-field {
        margin-bottom: 20px;
    }

    p {
        font-size: 16px !important;
    }

    .welcome p {
        font-size: 40px !important;
    }

    .logo-header {
        width: 50px;
    }

    .site-name {
        font-size: 25px !important;
    }

    .call img,
    .back-icon img {
        width: 25px;
    }

    .user-avatar img {
        width: 40px;
    }

    .user-avatar a img,
    .community-logo img {
        height: 50px;
        width: 50px;
    }

    .chat-message-card {
        padding: 5px 10px;
    }

    .send-form textarea {
        width: 85%;
    }

    .send-btn {
        width: 15%;
    }

    .send-file,
    .user img {
        width: 10%;
    }

    .header {
        padding: 11px 20px;
    }

    .community-container {
        padding: 5px;
    }

    .user-comment-form-container {
        margin-bottom: 0 !important;
    }

    .search-header button {
        padding: 0;
    }
}

@media (max-width: 400px) {
    .icon {
        font-size: 25px !important;
    }

    .send-btn {
        text-align: right;
    }

    .call img,
    .back-icon img {
        width: 20px;
    }

    .user img {
        width: 12%;
    }

    .header-links {
        display: none;
    }

    .form-container .form {
        padding: 20px 15px;
    }

    .last-seen,
    .track-name {
        font-size: 12px !important;
    }

    .musics-header button,
    .search-header button {
        width: 25%;
        padding: 0;
    }

    .musics-header input[type="search"],
    .search-header input[type="search"] {
        width: 75%;
    }
}
