@media (max-width: 1500px) {
    .login-main {
        padding: 18px 100px;
    }

    .login-main .form-container form {
        margin-right: 0;
    }

    .login-main .container {
        margin-top: 100px;
    }
}

@media (max-width: 1150px) {
    .header {
        padding: 11px 100px;
    }
    .chat-container,
    .community-container {
        width: 70%;
    }
    .menu {
        width: 20%;
    }
    .content-container .friends_block {
        width: 70%;
    }

    .login-main .container {
        flex-direction: column;
        margin-top: 0;
    }

    .form-container {
        margin-top: 20px;
    }

    .header-links {
        width: 30%;
    }

    .logo-container .site-name {
        font-size: 40px;
    }

    .header-options-main {
        width: 12% !important;
    }
}

@media (max-width: 850px) {
    main {
        padding: 5px !important;
    }

    .header {
        padding: 11px 50px;
    }

    .menu {
        width: 30%;
    }

    .friends-menu {
        width: 20%;
    }

    .send-form {
        width: 75%;
    }

    .content-container {
        justify-content: space-between;
    }

    .message_data p {
        font-size: 15px;
    }

    .messages {
        width: 70%;
    }
}

@media (max-width: 700px) {
    .menu {
        display: none;
    }

    .chat-container,
    .community-container,
    .content-container .friends_block,
    .messages {
        width: 100%;
    }

    .friends-header li {
        margin-left: 10px;
        font-size: small;
    }

    .login-main .form-container,
    .login-main .form-container form {
        width: 90%;
    }

    .logo-header {
        height: 50px;
    }

    .logo-container .site-name {
        font-size: 30px;
    }

    .header-links {
        width: 45%;
    }
}

@media (max-width: 512px) {
    p {
        font-size: 16px !important;
    }

    .welcome p {
        font-size: 40px !important;
    }

    .logo-header {
        width: 50px;
    }

    .site-name {
        font-size: 25px !important;
    }

    .call img,
    .back-icon img {
        width: 25px;
    }

    .user-avatar img {
        width: 40px;
    }

    .user-avatar a img,
    .community-logo img {
        height: 50px;
        width: 50px;
    }

    .chat-message-card {
        padding: 5px 10px;
    }

    .send-form textarea {
        width: 85%;
    }

    .send-btn {
        width: 15%;
    }

    .send-file {
        width: 10%;
    }

    .header {
        padding: 11px 20px;
    }

    .community-container {
        padding: 5px;
    }

    .user-comment-form-container {
        margin-bottom: 0 !important;
    }

    .user img {
        width: 10%;
    }
}

@media (max-width: 400px) {
    .icon {
        font-size: 25px !important;
    }

    .send-btn {
        text-align: right;
    }

    .call img,
    .back-icon img {
        width: 20px;
    }

    .user img {
        width: 12%;
    }

    .header-links {
        display: none;
    }

    .form-container .form {
        padding: 20px 15px;
    }

    .last-seen {
        font-size: 12px !important;
    }
}
