.messages{
    background-color: white;
    border-radius: 10px 10px 0 0;
    padding: 7px;
    width: 874px;
}

.user{
    width: 55px;
    height: 55px;
    display: flex;
    padding: 5px;
}

.message_data{
    margin-left: 10px;
}

.user_name{
    font-size: 15px;
}

.message_text{
    position: absolute;
    font-size: 14px;
    color: #706B6B;
;
}

.message_date{
    margin-left: 675px;
    width: auto;
    font-size: 12px;
    color: #42B72A;
}