.community-container {
    width: 50%;
    padding: 10px;
}

.community-content {
    background-color: white;
    border-radius: 10px;
}

.community-list {
    padding: 10px;
}

.community-card {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
    border-bottom: 1px solid #8b8b8b;
}

.community-card h3 {
    margin-left: 20px;
}
